@using Cynfo1._0.Models
@using Cynfo1._0.ViewModels
@model Cynfo1._0.ViewModels.AdsViewModel

@{
    ViewBag.Title = "Anuncios";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var testModel = new AdFormViewModel();
    int adID = 0;

}
<link rel="stylesheet" href="/Content/animate.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<nav class="w3-sidenav w3-card-4 w3-animate-left w3-white" style="width: 16%" id="mySidenav">
    <br/>
    <br/>
    <a href="javascript:void(0)" onclick="NewAd()" class="w3-center"><p class="w3-large"><b>Nuevo Anuncio</b></p> <i class="glyphicon glyphicon-plus-sign w3-xlarge"></i></a>
    <hr/>
    <div class="w3-center w3-xlarge"><b>Areas</b>

    </div>
    @foreach (var beacon in Model.Beacons)
    {
        <a href="javascript:void(0)" class="w3-center" onclick="LoadAds(@beacon.Id)">@beacon.AreaName</a>
    }
</nav>


<div id="main" style="margin-left: 16%">
    
    <header class="w3-container w3-center w3-padding-48 w3-card-4 w3-theme-d2">
        <h2 class="w3-xxlarge w3-hover-text "><b>Anuncios Publicados</b>
        </h2>
        <br/>
        <!--<a href="@Url.Action("Create", "Advertisements")" class="w3-btn-floating w3-teal">
            <i class="fa fa-plus"></i>
        </a>

        <a onclick="NewAd()" class="w3-btn-floating w3-theme-l3w"><i class="fa fa-plus"></i></a>-->
        


    </header>




    <div class="container body-content" >
        @if (!Model.Advertisements.Any())
        {
            <p>Aun no se ha publicado ningun anuncio</p>

        }
        else
        {
            <div id="adsContent">
                
            </div>





        }
    </div>
</div> 
<!--Modals Section-->


<div id="createAdModal" class="w3-modal">
   <div class="w3-modal-content w3-card-8 w3-animate-top">
        <header class="w3-container w3-theme-d4">
            <span  onclick="document.getElementById('createAdModal').style.display = 'none'" class="w3-closebtn">&times;</span>
            <h2>Nuevo Anuncio</h2>
        </header>
        <div id="createAdBody"></div>
       
    </div>
</div>


<div id="editAdModal" class="w3-modal">
   <div class="w3-modal-content w3-card-8 w3-animate-top">
       <header class="w3-container w3-theme-d4">
           <span onclick="document.getElementById('editAdModal').style.display = 'none'" class="w3-closebtn">&times;</span>
           <h2>Editar anuncio</h2>
       </header>
       <div id="editAdBody">
           
       </div>
       

    </div>
</div>


@section scripts
{



    <script>


        $(document)
            .ready(function() {



            });
        

        function EditAd(Id) {
            console.log("edit id "+Id);
            $("#editAdModal").show();
            $.ajax({
                url: '/Advertisements/Edit/' + Id,
                success: function (result) {
                    $('#editAdBody').html(result);

                }
            });


        }

        function NewAd() {
            $("#createAdModal").show();
            $.ajax({
                url: '/Advertisements/Create/',
                success: function (result) {
                    $('#createAdBody').html(result);
                    

                }
            });

        }

        function LoadAds(beaconId) {
            $.ajax({
                url: '/Advertisements/AreaAds/'+ beaconId,
                success: function (result) {
                    $('#adsContent').html(result);


                }
            });

        }

        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }


        function w3_open() {
            document.getElementById("main").style.marginLeft = "20%";
            document.getElementById("mySidenav").style.width = "20%";
            document.getElementById("mySidenav").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidenav").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }

    </script>
    



}




