@{
    ViewBag.Title = "Home Page";
}


<div class="parallax-container center" style="width: 100%">
    <div class="parallax white-text">
        <img alt="cynfobkg1" src="/Content/img/cynfo-bkg.jpg" style="display: block; transform: translate3d(-50%, 0px, 0px);" />
        <div class="w3-display-bottomleft w3-left-align w3-margin-32 w3-container" style="text-shadow: 0px 5px 10px black;">

            <p class="white-text w3-xxxlarge w3-margin-0">Bienvenido a <b>Cynfo</b></p>
            <p class="white-text  w3-xlarge  w3-margin-0">Donde presentamos tus anuncios de manera inteligente.</p>

        </div>
    </div>

</div>

<div class="section white">
    <div class="w3-row w3-container">
        <div class="w3-col s4 w3-container">
            <div class="w3-container">
                <div class="w3-col s12 w3-container w3-center ">
                    <img src="~/Content/img/Cynfo icon C.png" width="200">
                </div>
                <div class="card-content w3-col s12 w3-justify">
                    <h2>¿Qué es Cynfo?</h2>

                    <p>
                        Cynfo es una plataforma de publicidad que nace con el fin de proveer un servicio donde sus usuarios tengan la oportunidad de presentar
                        la información adecuada en el instante y lugar adecuado, a todos sus clientes. 
                    </p>
                    <p>
                        <a class="btn waves-effect waves-light btn-default primary-color" href="http://go.microsoft.com/fwlink/?LinkId=301866">Conoce Más &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="w3-col s4 w3-container">
            <div class=" w3-container w3-row">
                <div class="w3-col s12 w3-container w3-center ">
                    <img src="~/Content/img/altbeacon.png" width="200">
                </div>
                <div class="card-content w3-col s12 w3-justify">
                    <h2>ALTBeacon</h2>

                    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                    <p>
                        <a class="btn waves-effect waves-light btn-default primary-color" href="http://go.microsoft.com/fwlink/?LinkId=301866">Conoce Más &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="w3-col s4 w3-container">
            <div class="w3-container">
                <div class="w3-col s12 w3-container w3-center">
                    <img src="~/Content/img/radbeacon-dot.png" width="200">
                </div>
                <div class="card-content w3-col s12 w3-justify">
                    <h2>Radius Networks</h2>

                    <p>
                        Es un beacon de proximidad completamente autónomo de Bluetooth Smart TM que utiliza la tecnología iBeacon TM, Alt Beacon TM y Eddystone TM,
                        implementada en un paquete ligero que funciona con una batería.
                    </p>
                    <p>
                        <a class="btn waves-effect waves-light btn-default primary-color" href="http://go.microsoft.com/fwlink/?LinkId=301866">Conoce Más &raquo;</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container " style="width: 100%">
    <div class="parallax ">
        <img alt="cynfobkg2" src="/Content/img/cynfo-bkg2.jpg" style="display: block; transform: translate3d(-70%, 0px, 0px);" />
        <div class="w3-display-middle w3-center  w3-container" >
            <div class="white-text" style="text-shadow: 0px 5px 10px black;">
                <p class="white-text w3-xxxlarge w3-margin-0">¿Su negocio ya esta registrado en <b>Cynfo</b>?</p>
                <p class="white-text  w3-xlarge  w3-margin-0">¡Informe a sus clientes sobre la aplicación movil y empiece a publicar!</p>
            </div>
            
        </div>
        
    </div>
   

</div>
<section class="white">
    <div class="container w3-row  w3-padding-48 w3-padding-bottom">
        <div class="w3-col s12 w3-center w3-container">
            <h2 class="w3-xxxlarge">Cynfo App</h2>
        </div>
        <hr/>
        <div class="w3-col s6 w3-center">
            <img src="~/Content/img/cynfo-app.png" width="250">
        </div>
        <div class="w3-col s6 w3-justify">
            <div class="w3-margin-top w3-centered" style="padding-top: 100px">
                <h3>
                    Cynfo cuenta con una aplicación movil donde los clientes de nuestros usuarios pueden visualizar sus
                    anuncios dependiendo de donde se encuentren dentro de su tienda o local.
                </h3>
                <p>
                    <a class="btn waves-effect waves-light btn-default primary-color" href="http://go.microsoft.com/fwlink/?LinkId=301866">Conoce Más &raquo;</a>
                </p>
            </div>
        </div>



    </div>
    
    

</section>

@section scripts{

    <script>
        $(document).ready(function () {
            $(document).ready(function () {
                $('.parallax').parallax();
            });

            $('.carousel.carousel-slider').carousel({ fullWidth: true });

        });

    </script>


}