
@using Cynfo1._0.Models
@using Microsoft.AspNet.Identity



<div class="navbar">
    <nav role="navigation">
        <div class="nav-wrapper primary-color z-depth-0  ">
            
            <ul id="" class="left ">
                <li> @Html.ActionLink("Cynfo", "Index", "Home", new { area = "" }, new { @class = "w3-xxlarge bold" })</li>
               

                @if (Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Anuncios", "Index", "Advertisements")</li>
                    <li>@Html.ActionLink("Beacons & Areas", "Index", "Beacons")</li>
                }
                

            </ul>
            <ul id="" class="right" >
                <li>@Html.Partial("_LoginPartial")</li>
                
            </ul>
           
        </div>
    </nav>
</div>
